body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
}
h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}
.header{

}
.splash-container{
    background: #1f8dd6;
    width: 100%;
    height: 88%;
    position: fixed;
}
.splash {
    width: 80%;
    height: 60%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;

}
.splash-head {
    font-size: 26px;
    font-weight: 100;
    color: white;
    border: 3px solid white;
    padding: 1em;
    border-radius: 5px;
    line-height: 1em;
    margin: auto;
}
.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
    font-size: 16px;
    text-align: left;
    line-height: 1.3em;
}
a.pure-button-primary {
    background: white;
    color: #1f8dd6;
    font-size: 120%;
    padding: 0.5em 2em;
    border-radius: 5px;
}
.content-wrapper{
    position: absolute;
    top: 87%;
    width: 100%;
    background: white;
}
.footer{

}
@media (min-width: 48em) {
    body {
        font-size: 16px;
    }
    .splash {
        width: 50%;
    }
    .splash-head {
        font-size: 200%;
    }
    .splash-subhead {
        font-size: 18px;
    }
}
@media (min-width: 78em) {
    .splash-head {
        font-size: 250%;
    }
    .splash-subhead {
        font-size: 20px;
    }
}